{# src/OC/CoreBundle/Resources/views/general/contact.html.twig #}

{% extends "@OCCore/general/layout.html.twig" %}

{% block title %}
    Contact - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

    <h2>Quand il y aura un formulaire de contact il sera là</h2>

    <ul>
            <li>Pas (encore !) de nudibranches</li>
    </ul>

{% endblock %}